<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.shoptree.shoptree">

    <uses-permission android:name="android.permission.INTERNET" />
        
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ShopptreeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProductActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".MyAddressActivity" />
        <activity android:name=".AddAdressesActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".PaymentsActivity" />
        <activity android:name=".OffersActivity" />
        <activity android:name=".EditAddressActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4176fa14d30dcad7d9e5b8c082e130602ed9e106" />

        <activity android:name=".SearchActivity" />
        <activity android:name=".QueryActivity"></activity>
    </application>

</manifest>